* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: silver;
}

#container {
  margin: auto;
  max-width: 960px;
}

header{
  position: relative;
  padding: 2rem;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
  background-color: #333;
  color: white;
}

header h1{
  font-size: 18px;
}

#button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
#button a {
  color:#FFF;
}
#button img {
  cursor: pointer;
  width: 32px;
}

#lists {
  display: flex;
  flex-direction: column;
  background-color: #999;
}
#lists li {
  width: 100%;
  border-top: 1px solid gray;
  list-style-type: none;
  font-size: 80%;
}
#lists li a {
  display: block;
  padding: 1rem 0;
  color: #FFF;
  text-align: center;
}
#lists li:last-child a {
  border: none;
}

#lists li a:hover {
  background: black;
}

main {
  display: flex;
  flex-direction: column;
}

article,
aside {
  padding: 2rem;
  text-align: justify;
  font-size: 0.85rem;
  background-color: white;
}

article p,
aside p {
  margin-bottom: 1rem;
}

aside {
  background-color: #EEE;
}

footer {
  padding: 2rem;
  text-align: center;
  background-color: #333;
  color:white;
}


@media only screen and (min-width: 769px) {

  header {
    padding: 3rem;
  }
  header h1 {
    text-align: center;
    font-size: 24px;
  }

  #lists {
    flex-direction: row;
    justify-content: space-between;
  }
  #lists li {
    flex:1;
    border-top: none;
    border-right: 1px solid #BBB;
  }
  #lists li:last-child a {
    border: none;
  }

  main {
    flex-direction: row;
  }

  article,
  aside {
    padding: 3rem;
    font-size: 1rem;
  }

  article {
    flex: 3;
  }
  aside {
    flex: 1;
  }

}
